<div class="p-4">
  <div class="max-w-6xl mx-auto mt-6">
    <h2 class="text-3xl text-center font-bold">{{ section.settings.title }}</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-3 gap-4">
      {% for product in section.settings.featured_collection.products
        , limit: section.settings.number_of_products_to_show %}
        {% render 'product-card'
          , product: product %}
      {% else %}
        {% for item in (1..section.settings.number_of_products_to_show) %}
          {% render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "step": 1,
        "min": 1,
        "max": 12,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}