<h1 class="text-[78px] text-center">{{ section.settings.page_title }}</h1>
<h2 class="text-[48px] text-center">The page you're trying to access doesn't exist</h2>

{% schema %}
  {
    "name": "404 page",
    "settings": [
      {
        "type": "text",
        "id": "page_title",
        "label": "Title for 404 page",
        "default": "Error 404"
      }
    ]
  }
{% endschema %}